#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.nav-container {
  background-color: var(--main-bg-color);
}

.navbar {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  padding: 16px 12px;
  justify-content: space-between;
  background-color: var(--nav-color);
}

.navlink {
  margin-right: 12px;
  color: white;
}

.container {
  max-width: 1280px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  border: 2px solid var(--nav-color);
  padding: 0 10px;
}

.grid-container {
  border-left: 4px solid var(--nav-color);
  border-right: 4px solid var(--nav-color);
  border-top: 2px solid var(--nav-color);
  border-bottom: 2px solid var(--nav-color);
  margin-bottom: 24px;
}

.nutritionGrid {
  display: grid;
  background-color: var(--nav-color);
  gap: 4px;
  grid-template-columns: repeat(3, 200px);
}

.grid-cell {
  background-color: var(--main-bg-color);
  padding: 8px 0;
  margin: 2px 0;
}

.card {
  display: flex;
  justify-content: space-between;
  max-width: 720px;
  border: 1px solid white;
  margin-bottom: 12px;
  border-radius: 12px;
  padding: 12px;
}

.card-image {
  max-width: 300px;
  flex: 0 50%;
}

.card-details {
  flex: 0 50%;
}

.card-image img {
  width: 100%;
  border-radius: 12px;
}

.title-text {
  font-size: 14px;
  font-style: italic;
}

.card-title {
  font-size: 22px;
  margin: 0;
  padding: 0;
}

.emphasis {
  font-weight: 600;
}

